p {
    box-sizing: border-box;
}

p {
    inline-size: 350px;
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 350px;
    height: 150px;
    background-color: orange;
}

/* p {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
} */
